NODE_ENV=development
PORT=5013

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=woody_rorr

JWT_SECRET=replace-this-with-a-strong-secret
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10
